* {
  margin: 0;
  padding: 0; }

header .header-top {
  display: flex;
  margin: 1% 3%; }
  header .header-top ul {
    display: flex;
    list-style: none; }
    header .header-top ul li:last-child a {
      border: none; }
  header .header-top a {
    text-decoration: none;
    border-right: 2px solid #197ee3;
    display: inline-block;
    padding: 0 1rem;
    color: #197ee3; }
    header .header-top a:hover {
      color: black; }
  header .header-top .ul-right {
    margin-left: auto; }
header hr {
  margin: 0 3%; }
header .header-mid {
  margin: 0 3%;
  display: flex; }
  header .header-mid p {
    font-family: 'Pacifico', cursive;
    font-size: 4rem; }
  header .header-mid .mid-image {
    margin-left: auto;
    margin-top: 1.5%;
    width: 50%;
    height: 7rem;
    background: url(img/panorama.jpg);
    background-position: center;
    background-size: cover;
    border: 1px solid #197ee3; }
header nav {
  font-family: 'Arimo', sans-serif;
  font-size: 1.2rem;
  background: #536170;
  margin: 1.5% 3%; }
  header nav .hamburgerButton {
    display: none; }
  header nav ul {
    display: flex;
    align-items: center;
    margin-left: 3%; }
  header nav li {
    list-style: none; }
  header nav a {
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 1.7rem; }
    header nav a:hover {
      background: #3b4550; }
  header nav li:last-child {
    margin-left: auto;
    margin-right: 2%; }
    header nav li:last-child input {
      padding: .7rem 1rem;
      border: none;
      background: #c0c5ce; }
    header nav li:last-child input[type=submit] {
      background: #197ee3;
      color: white; }
      header nav li:last-child input[type=submit]:hover {
        color: black; }
  header nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: #536170;
    min-width: 16rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1; }
  header nav .dropdown-content a {
    color: white;
    padding: 1.5rem 1.8rem;
    text-decoration: none;
    display: block;
    text-align: left; }
  header nav .dropdown-content a:hover {
    background-color: #3b4550; }
  header nav .dropdown:hover .dropdown-content {
    display: block; }

.mid {
  margin: 1% 3%;
  display: flex; }
  .mid .cover-image {
    flex-basis: 70%;
    background: url(img/cover.jpg);
    background-position: center;
    background-size: cover; }
  .mid .cover-text {
    flex-basis: 30%;
    background: #197ee3;
    padding: 2%;
    padding-bottom: 1%;
    font-size: 1.1rem; }
    .mid .cover-text h3 {
      margin-bottom: 2%; }
    .mid .cover-text button {
      width: 6rem;
      height: 1.6rem;
      margin-top: 3%; }
    .mid .cover-text a {
      text-decoration: none;
      color: #197ee3; }

.grid-center-layout {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 3.2fr 2fr;
  margin: 2% 3%; }
  .grid-center-layout .three-boxes {
    grid-column: 1/3;
    grid-row: 1;
    display: flex;
    justify-content: space-between; }
    .grid-center-layout .three-boxes .box-1 {
      background: url(img/school.jpg); }
    .grid-center-layout .three-boxes .box-2 {
      background: url(img/classroom.jpg); }
    .grid-center-layout .three-boxes .box-3 {
      background: url(img/library.jpg); }
    .grid-center-layout .three-boxes .box {
      background-size: cover;
      background-position: center;
      width: 15rem;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.5); }
      .grid-center-layout .three-boxes .box div {
        background: rgba(0, 0, 0, 0.8);
        text-align: center;
        padding: 0.5rem; }
        .grid-center-layout .three-boxes .box div a {
          text-decoration: none;
          color: #197ee3; }
  .grid-center-layout .about-institution {
    grid-column: 1/3;
    grid-row: 2/4; }
  .grid-center-layout .right-side-topics {
    grid-column: 3;
    grid-row: 1/4; }
    .grid-center-layout .right-side-topics div {
      margin-bottom: 2rem; }
    .grid-center-layout .right-side-topics a {
      text-decoration: none;
      color: #197ee3; }

@media (max-width: 1000px) {
  header nav ul li {
    display: none; }
  header nav .hamburgerButton {
    display: flex;
    align-items: center;
    padding-left: 3%; }
    header nav .hamburgerButton button {
      display: inline-block;
      padding: .4rem .5rem;
      cursor: pointer;
      margin-left: auto;
      margin-right: 1.5rem; }
  header nav ul {
    display: block; }
  header .toggleNav {
    display: block; }
  header .li-hide {
    display: none; }
  header .last-li-positioning {
    display: inline-block;
    margin: 1rem 0; }
    header .last-li-positioning input {
      margin-left: 1.3rem; }
    header .last-li-positioning input[type=submit] {
      margin-top: 3%; } }
@media (max-width: 900px) {
  .mid {
    flex-wrap: wrap; }
    .mid .cover-image {
      flex-basis: 100%;
      height: 20rem; }
    .mid .cover-text {
      flex-basis: 100%;
      padding: 2.5% 4%; } }
@media (max-width: 650px) {
  header .header-top {
    flex-wrap: wrap; }
    header .header-top ul {
      flex: 1;
      justify-content: center;
      margin: 1% 0; } }
@media (max-width: 500px) {
  header .header-mid p {
    font-size: 3rem; }
  header .header-mid .mid-image {
    height: 5rem; }
  header nav .hamburgerButton a {
    padding: 1.2rem; }
  header nav .hamburgerButton button {
    padding: .2rem .3rem;
    margin-right: .8rem; }
  header nav ul li a {
    padding: 1.2rem; }
  header nav .dropdown-content {
    min-width: 10rem; }
  header nav .dropdown-content a {
    padding: 1rem 1.3rem; }

  .mid .cover-image {
    height: 15rem; }
  .mid .cover-text {
    padding: 5%;
    padding-bottom: 3%; } }
@media (max-width: 350px) {
  header .header-top ul {
    font-size: .83rem; }
  header .header-mid p {
    font-size: 2.5rem; }
  header .header-mid .mid-image {
    height: 4rem; }

  .mid .cover-image {
    height: 12rem; } }

/*# sourceMappingURL=style.css.map */
